*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

@font-face {
    font-family: 'American Captain';
    src: url(../font/American\ Captain.otf);
}

@font-face {
    font-family: 'sf-pro-display';
    src: url(../font/SFPRODISPLAYBOLD.OTF);
    src: url(../font/SFPRODISPLAYMEDIUM.OTF);
    src: url(../font/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Neue\ Helvetica\ Condensed\ BQ\ Regular.otf);
}

.ff_Helvetica {
    font-family: 'Helvetica';
}

.ff_sf_pro {
    font-family: 'sf-pro-display';
}

.ff_american {
    font-family: 'American Captain';
}

:root {
    /* font size  */
    --fs-9xl: 247px;
    --fs-8xl: 130px;
    --fs-7xl: 120px;
    --fs-6xl: 110px;
    --fs-5xl: 100px;
    --fs-4xl: 56px;
    --fs-3xl: 35px;
    --fs-2xl: 32px;
    --fs-xl: 30px;
    --fs-lg: 24px;
    --fs-md: 20px;
    --fs-sm: 17px;
    --fs-xsm: 15px;


    /* colors  */
    --color-white: #FFFFFF;
    --color-black: #161616;
    --color-lightblack: #1A191A;
    --color-green: #00DDA880;
    --color-red: #CF292999;
    --color-blue: #0058DD99;
    --color-gray: #BDBDBD;
    --color-lightgray: #F2F2F2;

}

/* colors  */
.color_white {
    color: var(--color-white) !important;
}

.bg_black {
    background-color: var(--color-black) !important;
}

.bg__lightblack {
    background-color: var(--color-lightblack) !important;
}

.color_green {
    background-color: var(--color-green) !important;
}

.color_red {
    background-color: var(--color-red) !important;
}

.color_blue {
    background-color: var(--color-blue) !important;
}

.color_gray {
    color: var(--color-gray);
}

.color_lightgray {
    color: var(--color-lightgray);
}

/* font sizes  */
.fs_9xl {
    font-size: var(--fs-9xl);
}

.fs_8xl {
    font-size: var(--fs-8xl);
}

.fs_7xl {
    font-size: var(--fs-7xl);
}

.fs_6xl {
    font-size: var(--fs-6xl);
}

.fs_5xl {
    font-size: var(--fs-5xl);
}

.fs_4xl {
    font-size: var(--fs-4xl);
}

.fs_3xl {
    font-size: var(--fs-3xl);
}

.fs_2xl {
    font-size: var(--fs-2xl);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_xsm {
    font-size: var(--fs-xsm);
}


/* font weight  */
.fw_700 {
    font-weight: 700;
}

.fw_600 {
    font-weight: 600;
}

.fw_500 {
    font-weight: 500;
}

.fw_400 {
    font-weight: 400;
}

/* media screen 1400  */
@media (min-width:1400px) {
    .container {
        max-width: 1620px !important;
        margin-left: auto;
        margin-right: auto;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width:1200px) {
    :root {
        /* font size  */
        --fs-9xl: 247px;
        --fs-8xl: 130px;
        --fs-7xl: 120px;
        --fs-6xl: 90px;
        --fs-5xl: 80px;
        --fs-4xl: 56px;
        --fs-3xl: 30px;
        --fs-2xl: 32px;
        --fs-xl: 30px;
        --fs-lg: 24px;
        --fs-md: 20px;
        --fs-sm: 16px;
        --fs-xsm: 15px;
    }
}

@media (max-width:992px) {
    :root {
        /* font size  */
        --fs-9xl: 247px;
        --fs-8xl: 90px;
        --fs-7xl: 120px;
        --fs-6xl: 110px;
        --fs-5xl: 100px;
        --fs-4xl: 56px;
        --fs-3xl: 35px;
        --fs-2xl: 22px;
        --fs-xl: 30px;
        --fs-lg: 24px;
        --fs-md: 20px;
        --fs-sm: 17px;
        --fs-xsm: 15px;
    }
}

@media (max-width:576px) {
    :root {
        /* font size  */
        --fs-9xl: 247px;
        --fs-8xl: 50px;
        --fs-7xl: 120px;
        --fs-6xl: 60px;
        --fs-5xl: 50px;
        --fs-4xl: 56px;
        --fs-3xl: 14px;
        --fs-2xl: 32px;
        --fs-xl: 20px;
        --fs-lg: 24px;
        --fs-md: 20px;
        --fs-sm: 14px;
        --fs-xsm: 15px;
    }

}